In [0]:
%sql

SELECT * FROM tft_analytics.raw.tft_matches_raw LIMIT ;

In [0]:
# -0X_data_tests_SQL.ipynb - Célula para Testar a Tabela Raw no Unity Catalog (PySpark)

# Certifique-se de que a SparkSession está ativa (Célula 1 de qualquer notebook Databricks já faz isso)

print("--- Testando a Tabela Raw no Unity Catalog (PySpark) ---")

# 1. Listar todas as tabelas no esquema 'raw' do catálogo 'tft_analytics'
print("\n1. Tabelas no esquema 'tft_analytics.raw':")
spark.sql("SHOW TABLES IN tft_analytics.raw").show(truncate=False)

# 2. Descrever o esquema da sua tabela raw
print("\n2. Esquema estendido da tabela 'tft_analytics.raw.tft_matches_raw':")
spark.sql("DESCRIBE EXTENDED tft_analytics.raw.tft_matches_raw").show(truncate=False)

# 3. Contar o número de registros na tabela raw
print("\n3. Contagem de registros na tabela 'tft_analytics.raw.tft_matches_raw':")
spark.sql("SELECT COUNT(*) FROM tft_analytics.raw.tft_matches_raw").show()

# 4. Visualizar as primeiras linhas da tabela raw
print("\n4. Primeiras 5 linhas da tabela 'tft_analytics.raw.tft_matches_raw':")
spark.sql("SELECT * FROM tft_analytics.raw.tft_matches_raw LIMIT 5").show(truncate=False)

print("\n--- Testes concluídos ---")

In [0]:
# Célula para verificar duplicatas pelo match_id na tabela raw

print("Verificando se há IDs de partida duplicados na tabela raw...")

# Consulta SQL para encontrar match_ids duplicados
duplicate_match_ids_query = spark.sql(f"""
    SELECT
        metadata.match_id AS MatchID,
        COUNT(*) AS NumOccurrences
    FROM
        tft_analytics.raw.tft_matches_raw
    GROUP BY
        metadata.match_id
    HAVING
        COUNT(*) > 1
""")

# Exibir os resultados
if duplicate_match_ids_query.count() > 0:
    print("\nAVISO: Duplicatas encontradas na tabela raw (pelo MatchID)! Detalhes:")
    display(duplicate_match_ids_query)
else:
    print("\nNenhuma duplicata de MatchID encontrada na tabela raw. Os dados estão únicos.")